<form [formGroup]="restoreForm" (ngSubmit)="restore()">
    <div class="flex-container">
        <h2>Restore password</h2>
        <span class="material-icons" (click)="closeDialog()">
            close
        </span>
    </div>
    <mat-form-field class="full-width form-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" required autocomplete="off">
        <mat-error *ngIf="emailField.hasError('email')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailField.hasError('required')">
          Email is <strong>required</strong>
        </mat-error> 
    </mat-form-field>
    <button type="submit" mat-raised-button class="full-width login-btn mt-10" (click)="restore()">Restore email</button>
</form>
