@import "../../variables";

.welcome-form {
    display: block;
    min-width: 150px;
    min-height: 150px;
    max-width: 420px;
    max-height: 500px;
    margin: 0 auto;
    padding-top: 8rem;
    overflow: hidden;
}

.tabs {
    background-color:rgba( #000, .55);
    padding-bottom: 15px;
    color: #fff;
    border-radius: 14px;
}

.mat-tab-label {
    background-color: transparent;
    color: #fff;
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    background-color: transparent;
    color: #fff;
    font-weight: 700;
}

/* Styles for the ink bar */

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $main-color;
}
